# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

# user-specific setting files
*.suo
*.user

# nuget packages folder
pacakges

# mercurial content
.hg*

*.ncrunchsolution

*.cache
*.nupkg
*.received.txt
